@import "~antd/dist/antd.css";

/* Loader for infinite scroll */

.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;

  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.one {
  background: green; /* change color here */
}
.two {
  background: rgb(68, 57, 216); /* change color here */
}
.three {
  background: red; /* change color here */
}
.four {
  background: yellow; /* change color here */
}
.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
  left: 3em;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

/* Banner */
.banner-user {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 80vh;
  width: 95%;
  position: absolute;
  margin: 0 auto;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
.banner-user-elem {
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 500px;
}
.banner-user-elem .banner-user-title {
  font-size: 32px;
  top: 40%;
}
.banner-user-elem .banner-user-text {
  font-size: 25px;
  top: 40%;
}
.banner-anim-elem .bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.second {
  background-image: url("https://images.unsplash.com/photo-1511256213389-89a2bde94848?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
}
.first {
  min-height: 200px;
  background-image: url("https://images.unsplash.com/photo-1485498128961-422168ba5f87?ixlib=rb-1.2.1&auto=format&fit=crop&w=1102&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  width: 100%;
}
.third {
  min-height: 200px;
  background-image: url("https://images.unsplash.com/flagged/photo-1551301622-6fa51afe75a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  width: 100%;
}
